<p id="notice"><%= notice %></p>
<div style="text-align: center;">
<h1>Proyectos</h1>
<br>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Caracteristica</th>
      <th>Area comun</th>
      <th>Pisos</th>
      <th>Ubicacion</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
      <tr>
        <td><%= proyecto.nombre %></td>
        <td><%= proyecto.caracteristica %></td>
        <td><%= proyecto.areacomun %></td>
        <td><%= proyecto.pisos %></td>
        <td><%= proyecto.ubicacion %></td>
        <td><%= proyecto.precio %></td>
        <!--<td><%= link_to 'Show', proyecto %></td>-->
        <td><%= link_to 'Editar', edit_proyecto_path(proyecto), class: "btn btn-outline-success" %></td>
        <td><%= link_to 'Eliminar', proyecto,class:"btn btn-outline-danger", method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div style="text-align: center;">
<%= link_to 'Nuevo proyecto', new_proyecto_path , class: "btn btn-outline-warning" %>
</div>