<%= form_with(model: departamento, local: true) do |form| %>
  <% if departamento.errors.any? %>
   <div id="error_explanation" style="margin: 0px 0px 0px 10px">
      <h2 style="color: red; size: 1;" >Solucionar:</h2>
      <ul>
      <% departamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-6 col-md-offset-1" style="margin: 1px 0px 2px 50px;">
  <div class="field">
    <%= form.label "Numero de piso" %>
    <%= form.number_field :piso, id: :departamento_piso, class: "form-control", placeholder:"Numero de piso" %>
  </div>

  <div class="field">
    <%= form.label "Numero de puerta" %>
    <%= form.text_field :numero, id: :departamento_numero, class: "form-control", placeholder:"Numero de puerta"  %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado, id: :departamento_estado, class: "form-control", placeholder:"Estado"  %>
  </div>

  <div class="field">
    <%= form.label "Area en m2" %>
    <%= form.text_field :area, id: :departamento_area, class: "form-control", placeholder:"Area en metros"  %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :departamento_tipo, class: "form-control", placeholder:"Tipo Flat o Duplex" %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.number_field :precio, id: :departamento_precio, class: "form-control", placeholder:"Precio de venta"  %>
  </div>

  <div class="field">
    <%= form.label "Identificador de proyecto" %>
    <%= form.text_field :proyecto_id, id: :departamento_proyecto_id, class: "form-control", placeholder:"Proyecto asociado"  %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %> 
  </div>

<% end %>
