<p id="notice"><%= notice %></p>

<h1>Cotizacions</h1>

<table>
  <thead>
    <tr>
      <th>Comentarios</th>
      <th>Departamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cotizacions.each do |cotizacion| %>
      <tr>
        <td><%= cotizacion.comentarios %></td>
        <td><%= cotizacion.departamento %></td>
        <td><%= link_to 'Show', cotizacion %></td>
        <td><%= link_to 'Edit', edit_cotizacion_path(cotizacion) %></td>
        <td><%= link_to 'Destroy', cotizacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cotizacion', new_cotizacion_path %>
