<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
  
    <div class="alert alert-danger">
    <h4 class="alert-heading"></h4>
    <span>Completar los campos resaltados</span>
  </div>
  <% end %>
  <div class="field">
    <%= form.label "Nombre" %>
    <%= form.text_field :nombre, id: :user_nombre, class: "form-control", placeholder:"Nombres"%>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido, id: :user_apellido, class: "form-control", placeholder:"Apellidos" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email, class: "form-control", placeholder:"Correo electronico" %>
  </div>

  <div class="field">
    <%= form.label "Contraseña" %>
    <%= form.text_field :password, id: :user_password, class: "form-control", placeholder: "Contraseña" %>
  </div>

  <div class="field">
    <%= form.label :celular %>
    <%= form.number_field :celular, id: :user_celular, class: "form-control", placeholder:"Celular o telefono fijo" %>
  </div>

  <div class="field">
    <%= form.label :dni %>
    <%= form.number_field :dni, id: :user_dni, class: "form-control", placeholder:"Documento de identidad" %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_area :direccion, id: :user_direccion, class: "form-control", placeholder:"Direccion o distrito" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
