<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :user_nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido, id: :user_apellido %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_area :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :celular %>
    <%= form.number_field :celular, id: :user_celular %>
  </div>

  <div class="field">
    <%= form.label :dni %>
    <%= form.number_field :dni, id: :user_dni %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_area :direccion, id: :user_direccion %>
  </div>

  <div class="field">
    <%= form.label :perfil %>
    <%= form.text_field :perfil, id: :user_perfil %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
