<p id="notice"><%= notice %></p>

<h1 style="text-align: center;">Usuarios</h1>

    <table class="table table-bordered cabecera">
      <thead>
        <tr style="text-align: center;">
          <th>Nombre</th>
          <th>Email</th>
          <th>Constraseña</th>
          <th>Celular</th>
          <th>Dni</th>
          <th>Direccion</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr style="text-align: center;">
            <td><%= user.nombre %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td><%= user.celular %></td>
            <td><%= user.dni %></td>
            <td><%= user.direccion %></td>
            <!--<td><%= link_to 'Show', user %></td>-->
            <td><%= link_to 'Editar', edit_user_path(user), class: "btn btn-success" %></td>
            <td><%= link_to 'Eliminar', user, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }%></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <div style="text-align: center;">
    <%= link_to 'Registrar usuario', new_user_path, class: "btn btn-outline-warning" %>
    </div>
