<br>
<table class="table">
  <thead class="thead-dark" >
    <tr style="text-align: center;">
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Email</td>
        <td>Contraseña</td>
        <td>Celular</td>
        <td>DNI</td>
        <td>Direccion</td>
        <td>Perfil</td>
      </tr>
    </thead>
    <tbody>
      <tr style="text-align: center;">
        <td><%= @user.nombre %></td>
        <td><%= @user.apellido %></td>
        <td><%= @user.email %></td>
        <td><%= @user.password %></td>
        <td><%= @user.celular %></td>
        <td><%= @user.dni %></td>
        <td><%= @user.direccion %></td>
 <td>@user.perfil</td>
  </tr>
    </tbody>

</table>
<div style="text-align: center;">
<%= link_to 'Editar datos', edit_user_path(@user), class: "btn btn-outline-primary"%> |
<%= link_to 'Iniciar sesion', login_path, class: "btn btn-outline-success" %>
</div>