<!DOCTYPE html>
<html>
  <head>
    <title>Constructora</title>
   <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav>
      
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto"> 
  <!-- Brand -->
<% if logged_in? %>
                <li class="nav-item active">    
                    <%= link_to "Constructora JyJ", root_path, :class => "navbar-brand" %></li>    
                          <ul class="navbar-nav">
                            <li class="nav-item">
                               <%= link_to "Nosotros", { :controller => "menu", :action => "nosotros" }, :class => "nav-link" %>
                            </li>
                <li class="nav-item">
                    <%= link_to "Servicio", { :controller => "menu", :action => "servicio" }, :class => "nav-link" %></li>
                        
                  <!-- Dropdown -->
                                <li class="nav-item dropdown menu">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                  Mundo JyJ
                                </a>
                                <div class="dropdown-menu">

                                    <%= link_to "Departamentos",{ :controller => "datos", :action => "personales"}, :class => "dropdown-item"%> 
                                    <%= link_to "Mis cotizaciones",{ :controller => "cotizacions", :action => "index"}, :class => "dropdown-item" %>
                                 </div> 
                                </li>
              <li class="nav-item dropdown menu">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Mantenimientos</a>
              <div class="dropdown-menu">
              <%= link_to "Proyectos",{ :controller => "proyectos"}, :class => "dropdown-item"%> 
              <%= link_to "Departamentos",{ :controller => "departamentos"}, :class => "dropdown-item" %>
              <%= link_to "Usuarios" , { :controller => "users"}, :class => "dropdown-item" %>
              <%= link_to "Datos personales" , { :controller => "users", :action => "index"}, :class => "dropdown-item" %>
              </div> 
              </li>

<% else %>
  <!-- Links -->
  <li class="nav-item active">    
      <%= link_to "Constructora JyJ", root_path, :class => "navbar-brand" %></li>    
            <ul class="navbar-nav">
              <li class="nav-item">
                 <%= link_to "Nosotros", { :controller => "menu", :action => "nosotros" }, :class => "nav-link" %>
              </li>
  <li class="nav-item">
      <%= link_to "Servicio", { :controller => "menu", :action => "servicio" }, :class => "nav-link" %></li>
          
    <!-- Dropdown -->
                  <li class="nav-item dropdown menu">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Mundo JyJ
                  </a>
                  <div class="dropdown-menu">

                      <%= link_to "Departamentos",{ :controller => "datos", :action => "personales"}, :class => "dropdown-item"%> 
                      <%= link_to "Mis cotizaciones",{ :controller => "extra", :action => "cotizacion"}, :class => "dropdown-item" %>
                   </div> 
                  </li>
<% end %>
        </ul>  

<span class="navbar-text" >    
  <% if logged_in? %>
      <div style="margin: 0px 0px 0px 300px;">
        <a><span class="glyphicon glyphicon-user" > <%= current_user.nombre %></span></a>
      <%= link_to logout_path, method: :delete do %>
      <span class='glyphicon glyphicon-log-in'> Cerrar sesion</span>
      <% end %>
  <% else %>
        <a href="<%= login_path %>"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a>
      <% end %>
               
                   </span>    
          </div>       
    </nav>
    
  	<div class="content" >
     <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>


    <%= yield %>
    </div>
  </body>
</html>
