<h2>Register</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label "Correo" %><br />
      <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label "Contraseña"%>

      <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label "Confirma contraseña" %>

      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>


  <div><%= f.label "Nombre" %>
      <%= f.text_field :name %></div>

  <div><%= f.label "Fecha de nacimiento" %>
      <%= f.date_select :cumple %></div>
  </div>

  <div><%= f.check_box :is_female, {}, true %> <%= f.label :is_female, "Mujer" %> </div>
    <div><%= f.check_box :is_female, {}, false %> <%= f.label :is_female, "Hombre" %> </div>

  <div><%= f.label "Celular" %>
      <%=  f.text_field :celular %>
  </div>



  <div><%= f.submit "Sign up" %></div>
<% end %>
<%= render "users/shared/links" %>